/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html,body{
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
p{
    padding-left: 15px;
    color: #FFF;
}

.bg{
    background: url("../img/bgss.jpg") no-repeat center center;
    background-size: 100% 100% ;
    top:40px !important;
    height: calc(100% - 40px) !important;
}
.now-open{
    position: absolute;
    margin-left:60px;
    width:67.5px;
    height: 40px;
}
.title-bar{
    z-index: 9999;
    width:800px;
    height: 40px;
    color: #FFF;
    background-color: #353945;
    cursor: default;
    transition: .05s all ease;
    position: fixed;
    display: none;
    text-align: center;
}
.title-bar > div:nth-child(1){
    margin:0 0 0 0;
    padding-top: 7.5px;
    width:100%;
    text-align: center;
    line-height: 24px;
    height: 40px;
    font-size: 20px;
    float:left;
    display: flex;
    justify-content: center;
    align-content: center;
}
.title-bar > div > i{
    margin-right: 7.5px;
    text-align: center;
    float:left;
}
.title-bar > div > p{
    width:auto;
    float:left;
    text-align: center;
    margin:0;
    padding:0;
}
.content{
    width:800px;
    height:400px;
    background-color: #FFF;
    transition: .05s all ease;
    position: absolute;
    display: none;
}
.sub-content{
    position: relative;
    width:800px;
    margin-top:40px;
    height:360px;
    background: transparent;
}
.current-folder-content{
    position: absolute;
    background-color: #404552;
    top:0;
    right:0;
    float:right;
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    z-index: 9999;
}
.current-folder-content > div{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.current-folder-content > div > div{
    height: 105px;
    margin:0 5px 0 5px;
    padding:0;
    width:110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.current-folder-content > div > div:hover{
    transition: 0.25s all ease;
    color: #FFF;
    background-color: #242d34;
    transform: scale(0.75);
}
.current-folder-content > div > div > i {    
    font-size:52px;
    color: #5294e2;
    margin-bottom: 8px;
}
.current-folder-content > div > div > p {
    color: #FFF;
    padding:0;
    margin:0;
    text-align: center;
    font-size: 15px;
    font-weight: 550;
}
.browser-btn{
    position: absolute;
    right: 0;
    z-index: 9999;
    width:100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.same-cls{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top:5px;
    width:25px;
    height: 25px;
    border-radius: 25px;
}
.minimize{ background-color: #000; 
    background: url("../img/baseline_minimize_white_48dp.png") no-repeat center center;
    background-size: 20px 20px;
    cursor:default;
}
.maximize{ background-color: #222; 
    background: url("../img/baseline_launch_white_48dp.png") no-repeat center center;
    background-size: 20px 20px;
    cursor:default;
}
.close{ 
    background-color: #222;
    background: url("../img/baseline_close_white_48dp.png") no-repeat center center;
    background-size: 20px 20px;
    cursor:default;
}
.title-bar.active{
    width:100%;
    transition: .25s all ease;
}
.content.active{
    width:100%;
    height: 100%;
    top:0 !important;
    left:0 !important;
    transition: .25s all ease;
}
.sub-content.active{
    margin-top:40px;
    width:100%;
    height:100%;
}

.tree{
    border-right: 1px solid blue;
    width:200px;
    height: calc(100% - 10px);
    padding-top:10px;
    text-align: left;
    background-color: #353945;
}
.tree > p{
    color: #FFF; 
    width:100%;
    font-size: 12px;
    letter-spacing: 0.25px;
    padding:0 0 0 0 !important;
    line-height: 28px;
    height: 28px;
}
.tree > p:hover, .tree > p > i:hover, .tree > p.active{
    background-color: #5294e2;
    color: #FFF;
}

.menu{
    position: absolute;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    left:0;
    width:67.5px;
    height: 75%;
    background-color: #36474f;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menu-icon{
    width:60px;
    height: 60px;
}
.menu-icon:hover{
    transition: 0.25s all ease;
    background-color: #242d34;
    transform: scale(1.1);
}
.directory.active{
    transition: 0.25s all ease;
    background-color: #242d34;
}
.terminal{
    background:url("../img/terminal-icon.png") no-repeat center center;
    background-size: contain;
}
.directory{
    background:url("../img/folder-blue-drag-accept-icon.png") no-repeat center center;
    background-size: contain;
}
.github-icon{
    background:url("../img/Octocat.png") no-repeat center center;
    background-size: contain;
}
.tistory-icon{
    background:url("../img/tistory-icon.png") no-repeat center center;
    background-size: contain;
}
.youtube-icon{
    background:url("../img/youtube-icon.png") no-repeat center center;
    background-size: contain;
}
.gmail-icon{
    background:url("../img/gmail.png") no-repeat center center;
    background-size: contain;
}



.desktop{
    width:400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.desktop > div > i{
    color:#5294e2;
    font-size: 72px;
}
.desktop > div > p{
    margin:0;
    padding: 0;
    text-align: center;
}
.desktop >div:nth-child(n){
    text-align: center;
}
.desktop > div{
    width:108px;
}
.desktop > div:hover{
    transition: 0.25s all ease;
    background-color: #242d34;
    transform: scale(1.2);
}
