/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html,body{
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
p{
    padding-left: 15px;
    color: #FFF;
}
a{
    outline: 0;
    text-decoration: none;
}

.header{
    position: absolute;
    top:0;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    width:100%;
    background-color: #010101;
    display: flex;
}
.timeSequence{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.etcTop{
    position: absolute;
    right: 0;
    z-index: 2;
    width:300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:1px;
}
.accessibility{
    position: relative;
    width:28px;
    height: 28px;
    border:2px solid #FFF;
    border-radius: 25px;
    background-color: #e2e3e3;
}
.access-img{
    width:100%;
    height: 100%;
    background: url("../img/baseline_accessibility_new_black_48dp.png") no-repeat center center;
    background-size:contain;
}
.lang{
    font-size: 18px;
}
.sound{
    width:36px;
    height: 90%;
    background: url("../img/baseline_volume_up_white_48dp.png") no-repeat center center;
    background-size:contain;
}
.sound.active{
    background: url("../img/baseline_volume_off_white_48dp.png") no-repeat center center;
    background-size:contain;
}
.power{
    width:36px;
    height: 90%;
    background: url("../img/baseline_power_settings_new_white_48dp.png") no-repeat center center;
    background-size:contain;
}
.power-control{
    display: none;
    position: absolute;
    top:60px;
    right: 20px;
    width:300px;
    height: 180px;
    background-color: #4c4c4c;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
}
.power-img{
    width: 100%;
    height: 65%;
    background: url("../img/baseline_pause_circle_filled_white_48dp.png") no-repeat center center;
}
.bg{
    background-color: #2f3437;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume-control-access{
    z-index: 3;
    position: absolute;
    width:40%;
    height: 40%;
    border-radius: 5px;
    background-color: #4c4c4c;
    
}
.overVolume{
    width:100%;
    height: 100%;
    z-index: 4;
    background: url("../img/baseline_volume_up_white_48dp.png") no-repeat center center;
    transform: scale(2);
}
.overVolume.active{
    width:100%;
    height: 100%;
    z-index: 4;
    background: url("../img/baseline_volume_off_white_48dp.png") no-repeat center center;
    transform: scale(2);
}



/* Cursor */
.blinking-cursor {
  padding-left:15px;
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  margin:0;
  -webkit-animation: .4s blink step-end infinite;
  -moz-animation: .4s blink step-end infinite;
  -ms-animation: .4s blink step-end infinite;
  -o-animation: .4s blink step-end infinite;
  animation: .45 blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}
/* Cursor */

/* Text */
.init {
    width: calc(100% - 15px);
    font-size:20px;
    color: #FFF;
    white-space:nowrap;
    overflow:hidden;
    padding-left: 15px;
    margin: 0;
    line-height: 24px;
    display: none;
}


.color-blue{ color: #00a8a8;}
.color-green{ color: #00a800;}
.color-gray{ color: #2e6a72;}
.color-yellow{ color: #76b62d;}
.color-skyblue{ color: #2975a7}
/* Text */



.restart{
    float:left;
    margin:20px 0 0 30px;
    background-color:#000;
    opacity: 0.85;
    border: 0;
    outline: 0;
    color: #FFF;
    font-size: 28px;
    height: 60px;
}