.viewer{
    display: none;
    position: absolute;
    width: 60%;
    height: 90%;
    z-index: 3;
    background-color: #cfcfcf;
}
.viewer-title-bar{
    z-index: 3;
    width:60%;
    height: 40px;
    color: #FFF;
    background-color: #353945;
    cursor: default;
    transition: .05s all ease;
    position: fixed;
    text-align: center;
}
.viewer-title-bar > div:nth-child(1){
    margin:0 0 0 0;
    padding-top: 7.5px;
    width:100%;
    text-align: center;
    line-height: 24px;
    height: 40px;
    font-size: 20px;
    float:left;
    display: flex;
    justify-content: center;
    align-content: center;
}
.viewer-title-bar > div > i{
    margin-right: 7.5px;
    text-align: center;
    float:left;
}
.viewer-title-bar > div > p{
    width:auto;
    float:left;
    text-align: center;
    margin:0;
    padding:0;
}
.viewer.active{
    width:100%;
    height: 100%;
    top:0 !important;
    left:0 !important;
    transition: .25s all ease;
}
.sub-viewer.active{
    margin-top:40px;
    width:100%;
    height:100%;
}
.viewer-title-bar.active{
    width:100%;
    transition: .25s all ease;
}


.viewer-minimize{ background-color: #000; 
    background: url("../img/baseline_minimize_white_48dp.png") no-repeat center center;
    background-size: 20px 20px;
    cursor:default;
}
.viewer-maximize{ background-color: #222; 
    background: url("../img/baseline_launch_white_48dp.png") no-repeat center center;
    background-size: 20px 20px;
    cursor:default;
}
.viewer-close{ 
    background-color: #222;
    background: url("../img/baseline_close_white_48dp.png") no-repeat center center;
    background-size: 20px 20px;
    cursor:default;
}


.viewer-sub-content{
    position: relative;
    width:100%;
    margin-top: 40px;
    height: calc(100% - 40px);
/*    height: 100%;*/
    overflow-y: auto;
}
.viewer-sub-content > div{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
}
.viewer-sub-content > div > div{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
}
.summarize{
    margin: 0 5% 0 5%;
    width:90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.summarize > p{
    padding:7.5px 0 0 0;
    margin: 0 1.8em 0 0;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
}
.summarize > p > span{
    font-size: 18px;
    color: #000;
    margin-left: 1em;
}
.summarize2 > p{
    margin: 0 4.4em 0 0;
}

/* Slide */
.cover-slide{
    position: relative;
    margin: 3em 0 0 5%;
    width:90%;
    height: 400px;
}

#slider
{
    position: absolute;
    width: 100%;
	height: 400px;
	background:url('../img/load.gif') no-repeat center center;
	background-size: cover;
	-webkit-transition: background 1s ;
}

#slider:after
{
	position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index:1;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.icon
{
	font-size: 50px;
	color: #fff;
	position: relative;
	z-index: 3;
}

#left
{
    height: 100%;
    margin: 0 0 0 30px;
	float: left;
    position: absolute;
}
#left > i{
    margin-top: 175px;
}

#right{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
	margin: 0 30px 0 0;
}
#right > i{
    margin-top: 175px;
}

.overlay{
    width:100%;
}
.overlay >  h2, .overlay > p
{
	color: #fff;
	text-align: center;
	z-index: 3;
	position: relative;
}

.overlay >  h2
{
	font-size: 52px;
	padding-top:160px;
}

.moreBtn{
    position: absolute;
    bottom: 20px;
    width:100%;
    height: 62px;
    display: flex;
    justify-content: center;
}
.morebutton {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    letter-spacing: 0.045em;
    text-decoration:none!important;
}

.morebutton svg {
    position: absolute;
    top: 0;
    left: 0;
}

.morebutton svg rect {
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.morebutton span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.morebutton:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}
